h1 span {
  font-style: italic;
  font-size: 40px;
  color: rgb(92, 140, 121);
}
.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.books-container div {
  width: 350px;
  border: 2px solid rgb(41, 121, 89);
  padding-left: 15px;
}
